repos:
  -   repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.11.10
      hooks:
      # Run the linter.
      - id: ruff-check
        args: [ --fix ]
        files: ^(sqlalchemy_history|tests)/.*\.py$
        additional_dependencies:
          - httpx~=0.24.1
          - tornado~=6.3.3
          - APScheduler~=3.10.4
          - cachetools~=5.3.1
          - aiolimiter~=1.1.0
      # Run the formatter.
      - id: ruff-format
        files: ^(sqlalchemy_history|tests)/.*\.py$
        additional_dependencies:
          - httpx~=0.24.1
          - tornado~=6.3.3
          - APScheduler~=3.10.4
          - cachetools~=5.3.1
          - aiolimiter~=1.1.0