[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "SQLAlchemy-History"
description = "History tracking extension for SQLAlchemy."
version = "0"
authors = ["Corridor Platforms <postmaster@corridorplatforms.com>"]
license = "Apache-2.0, BSD-3-Clause"
readme = "docs/README.md"
packages = [{ include = "sqlalchemy_history" }]
repository = "https://github.com/corridor/sqlalchemy-history"
classifiers = [
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Topic :: Software Development :: Libraries :: Python Modules",
]

[tool.poetry.dependencies]
python = "^3.9"

SQLAlchemy = ">=2"
SQLAlchemy-Utils = ">=0.30.12"
cached-property = "*"

[tool.poetry.group.dev.dependencies]
ruff = "*"
pre-commit = "2.21.0"

# [tool.poetry.group.test.dependencies]
pytest = ">=2.3.5"
flexmock = ">=0.9.7"
psycopg2-binary = ">=2.4.6"
PyMySQL = ">=0.8.0"
sqlalchemy_i18n = "*"
pymssql = ">=2.2.0"
cx-Oracle = "8.3.0"
pytest-cov = "*"

[tool.ruff]
line-length = 110
target-version = 'py39'

[tool.coverage.run]
dynamic_context = "test_function"
branch = true

[tool.poetry-version-plugin]
source = "init"

[tool.ty.environment]
python-version = "3.9"

[tool.ty.src]
exclude = ["tests/*"]
