name: "Test"

on:
  push:
    branches:
      - master
    paths-ignore:
      - "docs/**"
  pull_request:
    paths-ignore:
      - "docs/**"
  schedule:
    - cron: '40 1 * * 3'


jobs:
  test-sqlite:
    name: test-python${{ matrix.python-version }}-sqlite
    strategy:
      matrix:
        python-version:
         - "3.6"
         - "3.10"
    runs-on: ubuntu-20.04 # refer: https://github.com/actions/setup-python/issues/541
    steps:
      - uses: actions/checkout@v1
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: psf/black@stable
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Install dependencies
        run: poetry install
      - name: Run tests
        run: .venv/bin/pytest
        env:
          DB: sqlite

  test-mysql:
    name: test-python${{ matrix.python-version }}-mysql
    strategy:
      matrix:
        python-version:
         - "3.6"
         - "3.10"
    services:
      mysql:
        image: mysql
        ports:
          - 3306:3306
        env:
          MYSQL_DATABASE: sqlalchemy_history_test
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
        options: >-
          --health-cmd "mysqladmin ping"
          --health-interval 5s
          --health-timeout 2s
          --health-retries 3
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: psf/black@stable
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Install dependencies
        run: poetry install
      - name: Run tests
        run: .venv/bin/pytest
        env:
          DB: mysql

  test-postgres:
    name: test-python${{ matrix.python-version }}-postgres
    strategy:
      matrix:
        python-version:
         - "3.6"
         - "3.10"
    services:
      postgres:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: sqlalchemy_history_test
        options: >-
          --health-cmd pg_isready
          --health-interval 5s
          --health-timeout 2s
          --health-retries 3
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: psf/black@stable
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Install dependencies
        run: poetry install
      - name: Run tests
        run: .venv/bin/pytest
        env:
          DB: postgres

  test-mssql:
    name: test-python${{ matrix.python-version }}-mssql
    strategy:
      matrix:
        python-version:
         - "3.6"
         - "3.10"
    services:
      mssql:
        image: mcr.microsoft.com/mssql/server:2022-latest
        ports:
          - 1433:1433
        env:
          MSSQL_SA_PASSWORD: MSsql2022
          ACCEPT_EULA: N
        options: >-
          --health-cmd "/opt/mssql-tools/bin/sqlcmd -U $DB_USER -P $SA_PASSWORD -Q 'select 1' -b -o /dev/null"
          --health-interval 5s
          --health-timeout 2s
          --health-retries 3
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: psf/black@stable
      - name: Build
        run: |
          pip3 install --user --upgrade pip
          pip3 install -e . -r requirements/test.txt
      - name: Run tests
        run: pytest
        env:
          DB: mssql
